.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
}

.header__left {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__logo {
  font-size: 1.4rem;
}

.header__brand h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

/* Search */
/* .header__search input {
  width: 260px;
  padding: 0.6rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  font-size: 0.9rem;
  background-color: #f2f2f2;
  margin-right: 7rem;
  position: relative;
} */

.header__search input {
  width: 100%;
  padding: 0.6rem 0rem 0.6rem 2.4rem;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  font-size: 0.9rem;
  background-color: #f2f2f2;
  outline: none;
}

.header__search {
  position: relative;
  width: 260px;
  margin-right: 7rem;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #9ca3af;
  pointer-events: none;
  /* prevents blocking input clicks */
}

.header__search input:focus {
  background-color: #ffffff;
  border-color: #ff8800;
}


/* Nav */
.header__nav {
  display: flex;
  align-items: center;
}

.header__tab {
  background: none;
  border: none;
  margin-left: 3%;
  padding: 0.5rem .5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #666;
  cursor: pointer;
  position: relative;
}

.header__tab:hover {
  color: #ff8800;
  font-weight: 600;
}

.header__tab:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  height: 3px;
  background-color: #ff8800;
  /* border-radius: 2px; */
}

/* Right side */
.header__right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__icons {
  display: flex;
  gap: 0.5rem;
}

.icon-btn {
  background: none;
  border: none;
  border-width: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1.15rem;
}

.icon-btn:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.header__divider {
  width: 1px;
  height: 2rem;
  background-color: #e5e5e5;
}

.header__admin {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header__admin-info h3 {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}

.header__admin-info p {
  font-size: 0.8rem;
  color: #999;
  margin: 0;
}

.header__profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}